.content_posts {
    .content_item_posts {
        margin: 10px;
        border-radius: 10px;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 0px 38px -10px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.68);
    }
}